@import "tailwindcss";

@theme {
  --color-doldam-accent: #E85C41;
  --color-doldam-dark: #1a1a1a;
}

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: #ffffff;
}